<!doctype html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>User Dashboard</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
     <link rel="stylesheet" href="css/user_dashboard.css">
     <link rel="stylesheet" href="css/formValidation.css">
    <script src="/js/driver_registration_form.js"></script>

</head>

<body>

     <!-- adding navbar -->
    <%- include('../partials/navbar') %>
    <!-- Adding driver registration Form -->
    <%- include('../partials/driver_registration_form'); %>
    <%- include('../partials/reserved_driver_registration_form') %>
    <%- include('../partials/vehicle_registration_form') %>
    <%- include('../partials/user_registration_form') %>

     <div class="container">
          <div class="row">
               <!-- Main Menu -->
               <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-4 myDashboardCard " style="background-color:#535Af8">
                    <div class="text-center">
                        <i class="fas fa-user-circle text-light display-2 m-4"></i><br>
                        <% if(user.name){ %>
                            <span class="text-light fw-bold"><%= user.name %></span><br>
                            <span class="text-light fw-bold"><%= user.contact_no %></span>
                        <% }else{ %>
                            <span class="text-light fw-bold"><%= user.email %></span><br>
                            <span class="text-light fw-bold"><%= user.contact_no %></span>
                        <% } %>
                    </div>
                    <br><br>
                    <div class="mx-5 fw-bold text-light">
                        <span class="dashboard-links" onclick="dashboardChoices('my-profile')" >My Profile</span><br><br>
                        <span class="dashboard-links" onclick="dashboardChoices('my-bookings')" >My Bookings</span><br><br>
                        <% if(user.is_driver){ %>
                            <span class="dashboard-links" onclick="dashboardChoices('my-driving-history')">My Driving History</span><br><br>
                        <% }%>
                        <% if(user.is_owner){ %>
                            <span class="dashboard-links" onclick="dashboardChoices('my-vehicles')">My Vehicles</span><br><br>
                            <span class="dashboard-links" onclick="dashboardChoices('my-drivers')">My Drivers</span><br><br>
                            <span class="dashboard-links" onclick="dashboardChoices('my-vehicles-history')">My Vehicle History</span><br><br>
                        <% } %>
                        <span class="dashboard-links" onclick="dashboardChoices('my-wallet')" >My Wallet</span><br><br>
                        <% if(!user.password){%>
                            <span class="dashboard-links" onclick="dashboardChoices('change-password')" >Create Password</span><br><br>
                        <%}else{%>
                            <span class="dashboard-links" onclick="dashboardChoices('change-password')" >Change Password</span><br><br>
                         <%}%>
                          
                         
                         <%if(!user.is_driver && user.is_complete){%>
                            <button class="btn btn-primary  mt-2 w-75 text-dark" data-bs-toggle="modal" data-bs-target="#driverRegistrationForm" style="background-color: #d8d6e3;" >Become Driver</button>
                        <%}else if(!user.is_driver && !user.is_complete){%>
                            <button class="btn bg-light  my-3 w-75 text-dark" id="book-vehicle-page-btn" data-bs-toggle="modal" data-bs-target="#userRegistrationForm">Become Driver</button>
                        <% } %>
                        <% if(!user.is_owner && user.is_complete){%>  
                            <button class="btn btn-primary  my-3 w-75 text-dark" id="owner-dashboard-btn" style="background-color: #d8d6ed;"><a href="/user/registerowner" class="text-decoration-none text-dark">Beacome Owner</a></button> 
                        <%}else if(!user.is_owner && !user.is_complete){%>
                            <button class="btn bg-light my-3 w-75 text-dark" id="book-vehicle-page-btn" data-bs-toggle="modal" data-bs-target="#userRegistrationForm">Beacome Owner</button>
                        <%}%>
                    </div>
                </div>
          <!-- Main Menu -->

           <!-- User Details -->
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 " id="my-profile" >
                    <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                        <div class="d-sm-flex m-2"  style="background-color: white; width: 98%; ">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-3 ps-5">
                                <!-- <i class="fa-solid fa-circle-user m-4  display-1 text-secondary" style="color: #1f2551; height: fit-content;"></i> -->
                                <img src="images/profilePic.jpeg" height="auto" width="50%" alt="" style="border-radius: 50%;">
                              </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" >
                                <label for="name" class="fw-bold fs-5 my-1">Name : </label><span> Andrew Anderson</span><br>
                                <label for="gender" class="fw-bold fs-5 my-1">Gender : </label><span> Male</span><br>
                                <label for="Date" class="fw-bold fs-5 my-1">DOB : </label><span> 29/12/2004</span><br>
                                <label for="email" class="fw-bold fs-5 my-1">E-mail : </label><span> andrewanderson@gmail.com</span><br>
                                <label for="Address" class="fw-bold fs-5 my-1">Address : </label><span> Khandwa Naka, Indore</span><br>
                                <label for="city" class="fw-bold fs-5 my-1">City : </label><span>  Indore</span><br>
                                <label for="state" class="fw-bold fs-5 my-1">State : </label><span>  Madhya Pradesh</span><br>
                                <label for="pincode" class="fw-bold fs-5 my-1">Pin code : </label><span>  452020</span><br>
                                <label for="pincode" class="fw-bold fs-5 my-1">Aadhar Number : </label><span> 9810 3410 3453</span><br>
                                <% if(user.is_complete){%>
                                    <button class="btn btn-primary btn-md my-5 w-50 " style="background-color: #5647F9;">Update Details</button>
                                <% } else{%>
                                    <button class="btn btn-primary button-shadow w-50 ms-2 mt-5" id="book-vehicle-page-btn" data-bs-toggle="modal" data-bs-target="#userRegistrationForm">Complete Profile</button>
                                <%}%>

                            </div>
                        </div>
                    </div>
                </div>
          <!-- User Details -->

           <!-- Booking History -->
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="my-bookings" style=" display: none;">
                    <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                        <div class="table-responsive">
                            <h4 class="text-center fw-bold mt-2 " style="background-color: white;">View Booking History</h4>
                            <br>
                            <table class="table table-striped" style="background-color: white;">
                                <thead>
                                    <th>Booking Date</th>
                                    <th>Booking Days</th>
                                    <th>Vehicle Number</th>
                                    <th>Driver Name</th>
                                    <th>Driver Contact</th>
                                    <th>Total Cost</th>
                                </thead>
                                <tbody>
                                    <!-- Table Data Fill Here -->
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
          <!-- Booking History -->

          <!-- View Driver Booking History Start  -->

          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="my-driving-history" style="display: none;">
            <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                <div class="table-responsive">
                  <h4 class="text-center fw-bold mt-2 " style="background-color: white;">Booking History</h4><br>
                     <table class="table table-striped" style="background-color: white;">
                        <thead>
                           <th>Booking Date</th>
                           <th>Booking Days</th>
                           <th>Vehicle Number</th>
                           <th>Passenger Name</th>
                           <th>Passenger Contact</th>
                           <th>Income</th>
                        </thead>
                        <tbody>
                        <!-- Table Data Fill Here -->
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>  
                          </tbody>
                     </table>  
                </div>
            </div>
        </div>


          <!-- View Driver Booking History End  -->


          <%if(!user.password ){%>
          <!-- User Create Password End -->
           <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="change-password" style="display: none;">
               <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                   <h4 class="text-center fw-bold my-2 m-2 " style="background-color: white; width: 98%;">Create Password</h4>
                   <div class="m-2" style="background-color: white; width: 98%;">
                      <div align="center" style="background-color: white;">
                          <form action="/user/createpassword" method="post" onsubmit="return submitCreateFormData()">
                             <div class="my-5 form-field">
                                <label class="fw-bold fs-5 " for="newpassword">Enter Password*</label>
                                <input type="password" class="w-50 form-control" placeholder="Enter password" id="createnewpass" name="newpassword" onkeyup="createCheckNewPass4()">
                                <small></small>
                              </div>
                             <div class="my-5 form-field">
                                <label class="fw-bold fs-5" for="createconfirmpass">Confirm Password*</label>
                                <input type="password" class="w-50 form-control" placeholder="Enter confirm password" id="createconfirmpass" name="createconfirmpass" onkeyup="createCheckCnfPass4()">
                                <small></small>
                              </div>
                             <div class="mt-5">
                                <input type="submit" class="btn btn-primary w-50 fs-5 fw-bold form-control" value="Create">
                             </div><br><br>
                          </form>
                      </div>
                   </div>
               </div>
           </div>    
           <!-- User Create Password End -->
           <%}else{%>
                <!-- User Change Password -->
                 <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="change-password" style="display: none;">
                     <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                         <h4 class="text-center fw-bold my-2 m-2 h-100 " style="background-color: white; width: 98%;">Change Password</h4>
                         <div class="m-2" style="background-color: white; width: 98%;">
                             
                            <form action="/user/changepassword" onsubmit=" return submitchangepassword()" method="post">
                                <div align="center" style="background-color: white;">
                                    <div class="form-field">
                                        <label class=" fw-bold fs-5 mt-3" for="changeoldpassword">Old Password</label>
                                        <input type="password" class="w-50 form-control mt-2" placeholder="Enter Old Password" id="changeoldpassword" name="changeoldpassword" onkeyup="checkChangeOldPass4()">
                                        <small></small>
                                    </div>
                                    <div class="mt-4 form-field">
                                        <label class="fw-bold fs-5 " for="changenewpassword">New Password</label>
                                        <input type="password" class="w-50 form-control mt-2" placeholder="Enter Old Password" id="changenewpassword" name="changenewpassword" onkeyup="checkChangeNewPass4()">
                                        <small></small>
                                    </div>
                                    <div class="mt-4 form-field">
                                        <label class="fw-bold fs-5  " for="changecnfpassword">Confirm Password</label>
                                        <input type="password" class="w-50 form-control mt-2" placeholder="Enter Old Password" id="changecnfpassword" name="changecnfpassword" onkeyup="checkChangeCnfPass4()">
                                        <small></small>
                                    </div>
                                    <div class="my-5">
                                        <input type="submit" class="btn btn-primary w-50 fs-5 fw-bold form-control" value="Change">
                                    </div><br>
                                </div>
                            </form>
                            
                         </div>
                     </div>
                 </div>    
                 <!-- User Change Password -->
            <%}%>
           <!-- User Wallet -->
           <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="my-wallet" style="display: none;">
               <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                   <div>
                       <h4 class="text-center fw-bold mt-2 " style="background-color: white;">WALLET</h4>
                   <div class="bg-light "><br>
                           <span class="fs-4  ms-5 fw-bold">Wallet Amount: $ 300</span>
                       <div class="row mx-1 my-1 bg-light">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                               <button class="btn btn-primary btn-md m-4 w-75">Add Amount</button>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                               <button class="btn btn-primary btn-md m-4 w-75">View History</button>
                           </div>
                           
                       </div>
                   </div>
                   <div class="table-responsive">
                 
                       <table class="table table-striped" style="background-color: white;">
                           <thead>
                               <th>S.No.</th>
                               <th>Date</th>
                               <th> Amount</th>
                           </thead>
                           <tbody>
                               <!-- Table Data Fill Here -->
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                   </div>
               </div>
           </div>
           <!-- User Wallet -->
              
             <!-- Owner Vehicles -->
             <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="my-vehicles" style="display: none;">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <div class="table-responsive">
                        <h4 class="text-center fw-bold mt-2 " style="background-color: white;">Vehicle List</h4>
                        <br>
                        <table class="table table-striped" style="background-color: white;">
                            <thead>
                                <th>Registration Number</th>
                                <th>Vehicle Class</th>
                                <th>Fuel Type</th>
                            </thead>
                            <tbody>
                                <!-- Table Data Fill Here -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mx-1 my-2 bg-light">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold"  data-bs-toggle="modal" data-bs-target="#vehicle-registration"> Add Vehicle</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold">Update Vehicle</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold">Remove Vehicle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Owner Vehicles -->

            <!-- Owner Drivers List -->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="my-drivers" style="display: none;">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <div class="table-responsive">
                        <h4 class="text-center fw-bold mt-2 " style="background-color: white;">Driver List</h4>
                        <br>
                        <table class="table table-striped" style="background-color: white;">
                            <thead>
                                <th>Driver Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Driver Contact</th>
                            </thead>
                            <tbody>
                                <!-- Table Data Fill Here -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mx-1 my-2 bg-light">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold" data-bs-toggle="modal" data-bs-target="#reservedDriverRegistrationForm"> Add Driver</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold">Update Driver </button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold">Remove Driver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Owner Drivers List -->



            <!--History-->

            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="my-vehicles-history" style="display: none;">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <div>
                        <h4 class="text-center fw-bold mt-2 " style="background-color: white;">History</h4>
                    <div class="bg-light "><br>
                            <span class="fs-5 fw-bold ms-5">Vehicle Registration Number or Driver Name</span>
                            <input type="text" class="ms-5 my-2 w-75 border-dark" placeholder="Enter Vehicle Registration Number Or Driver Name">
                        <div class="row mx-1 my-1 bg-light">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-md m-4 w-75">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                  
                        <table class="table table-striped" style="background-color: white;">
                            <thead>
                                <th>S.No.</th>
                                <th>Date</th>
                                <th>Driver Name</th>
                                <th>Passenger Name</th>
                                <th>Passenger Contact</th>
                                <th> Charges</th>
                            </thead>
                            <tbody>
                                <!-- Table Data Fill Here -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
            <!-- History -->

        </div>
    </div>


     <!-- adding footer -->
    <%- include('../partials/footer') %>

    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> -->
    <script src="/js/user_dashboard.js"></script>
</body>


</html>